In [1]:
import pandas as pd
# import "/FlatironProject3FlightDelayPredictions/"

In [2]:
#  %run Weather1.ipynb

In [3]:
%run "/Users/powersky/Documents/11FlatIronSchoolFolder/Projects/Project_3_Flight_Data/FlatironProject3FlightDelayPredictions/Weather1.ipynb"
# weather_df.head()

Chicago_pressure 0.003915886752555116
Atlanta_humidity 0.07440184829854721
Chicago_humidity 0.003915886752555116
Dallas_humidity 0.12922426283431884
Charlotte_humidity 0.775345577005913
Denver_humidity 0.01174766025766535
Dallas_wind_speed 0.003915886752555116
Charlotte_wind_speed 0.003915886752555116
25297

In [4]:
# https://www.transtats.bts.gov/Fields.asp?table_id=236
# df9 = pd.read_csv("compressed/On_time2015_01.csv")
# df9.head()
# cities="sATL","ORD","DFW,CLT,DEN,LAX,PHX,SFO,IAH,LGA

In [5]:
# df9.columns[0:25]
# df9[['FlightDate','Reporting_Airline', 'DOT_ID_Reporting_Airline',
#        'IATA_CODE_Reporting_Airline', 'Tail_Number',
#        'Flight_Number_Reporting_Airline', 'OriginAirportID',
#        'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
#        'OriginState', 'OriginStateFips']]

In [6]:
#Get Dataframes of all 2017 Months and merge them 
files=["On_time2015_00.csv","On_time2015_01.csv","On_time2015_02.csv","On_time2015_03.csv","On_time2015_04.csv",'On_time2016_00.csv','On_time2016_01.csv','On_time2016_02.csv','On_time2016_03.csv','On_time2016_04.csv','On_time2017_00.csv','On_time2017_01.csv','On_time2017_02.csv','On_time2017_03.csv','On_time2017_04.csv']
file_total=[]
for file in files:
    new=pd.read_csv('compressed/'+file)#,usecols=['Month', 'DayofMonth', 'DayOfWeek','Origin', 'Dest', 'UniqueCarrier', 'FlightNum', 'Origin', 'Dest', 'DepTime', 'DepDelay', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'ArrTime', 'ArrDelay', 'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'DivAirportLandings'])
    file_total.append(new)
    
merged_df = pd.concat(file_total, axis = 0)
merged_df.describe()

/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (69,76,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/powersky/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,1.365812e+06,1365812.0,1365812.0,1.365812e+06,1.365812e+06,1.365812e+06,1.365812e+06,1.365812e+06,1.365812e+06,1.365812e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2.015985e+03,1.0,1.0,1.589603e+01,3.993508e+00,1.992901e+04,2.143632e+03,1.268307e+04,1.268309e+06,3.172541e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.205901e-01,0.0,0.0,8.953863e+00,2.003774e+00,3.912112e+02,1.764612e+03,1.526839e+03,1.526836e+05,1.283672e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.015000e+03,1.0,1.0,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013503e+06,3.007000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.015000e+03,1.0,1.0,8.000000e+00,2.000000e+00,1.979000e+04,7.130000e+02,1.129200e+04,1.129202e+06,3.062700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.016000e+03,1.0,1.0,1.600000e+01,4.000000e+00,1.980500e+04,1.647500e+03,1.288900e+04,1.288903e+06,3.145300e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.017000e+03,1.0,1.0,2.400000e+01,6.000000e+00,2.030400e+04,3.107000e+03,1.402700e+04,1.402702e+06,3.246700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.017000e+03,1.0,1.0,3.100000e+01,7.000000e+00,2.117100e+04,9.793000e+03,1.621800e+04,1.621801e+06,3.599100e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#merge categories for all columns used 
df=merged_df[['CRSDepTime', 'DepDelayMinutes',"Reporting_Airline","Flight_Number_Reporting_Airline", 'DepDel15', 'DepartureDelayGroups','Month', 'DayofMonth', 'Origin', 'Dest', 'DepTime', 'DepDelay', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay', 'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'DivAirportLandings',"CancellationCode"]]
subset_df = df[(df['Origin'] == 'ATL') | (df['Origin'] == 'ORD') | (df['Origin'] == 'DFW') | (df['Origin'] == 'CLT') | (df['Origin'] == 'DEN')]

In [8]:
# subset_df.info()
# subset_df.isnull()
# len(subset_df) #284,645
# subset_df

In [9]:
#Get Flight Number as a combination of Carrier code and individual flight number. E.g 'AA' and '346' becom 'AA346'
subset_df['FlightNum'] = subset_df['Reporting_Airline'] + subset_df['Flight_Number_Reporting_Airline'].astype('str')
#drop old flightnumber
subset_df.drop(columns = 'Flight_Number_Reporting_Airline', inplace = True)
subset_df.drop(columns = 'DivAirportLandings', inplace = True)

/Users/powersky/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/powersky/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
subset_df.tail()

,CRSDepTime,DepDelayMinutes,Reporting_Airline,DepDel15,DepartureDelayGroups,Month,DayofMonth,Origin,Dest,DepTime,...,AirTime,Flights,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,CancellationCode,FlightNum
49101,1045,0.0,WN,0.0,-1.0,1,29,DEN,TPA,1044.0,...,166.0,1.0,1506.0,NaN,NaN,NaN,NaN,NaN,NaN,WN4787
49102,1640,0.0,WN,0.0,-1.0,1,29,DEN,TUL,1639.0,...,69.0,1.0,541.0,NaN,NaN,NaN,NaN,NaN,NaN,WN4266
49103,2005,0.0,WN,0.0,0.0,1,29,DEN,TUL,2005.0,...,66.0,1.0,541.0,NaN,NaN,NaN,NaN,NaN,NaN,WN4888
49104,1240,0.0,WN,0.0,-1.0,1,29,DEN,TUS,1238.0,...,90.0,1.0,639.0,NaN,NaN,NaN,NaN,NaN,NaN,WN3459
49105,2210,0.0,WN,0.0,-1.0,1,29,DEN,TUS,2205.0,...,84.0,1.0,639.0,NaN,NaN,NaN,NaN,NaN,NaN,WN3770

In [11]:
df_sorted_by_day = subset_df.sort_values(['Month', 'DayofMonth'], ascending = [True, True])

In [12]:
import seaborn as sns
sns.countplot(df_sorted_by_day['Reporting_Airline'])

In [13]:
# change deptime to hour 
df_sorted_by_day['hour'] = df_sorted_by_day['DepTime'] // 100

In [14]:
#delete
    #Drop wheelsoff and wheelson columns as this amounts to the same thing as the Airtime Column
    # df_sorted_by_day.drop(columns = ['WheelsOff', 'WheelsOn'], inplace = True)

In [15]:
#Get Scheduled Departure time from Actual Departure time and Departure Delay time
df_sorted_by_day['SchedDepartTime'] = df_sorted_by_day['DepTime'] - df_sorted_by_day['DepDelay']

In [16]:
df_sorted_by_day.isna().sum()

CRSDepTime                   0
DepDelayMinutes           5472
Reporting_Airline            0
DepDel15                  5472
DepartureDelayGroups      5472
Month                        0
DayofMonth                   0
Origin                       0
Dest                         0
DepTime                   5472
DepDelay                  5472
TaxiOut                   5641
TaxiIn                    5941
ArrTime                   5941
ArrDelay                  6402
Cancelled                    0
Diverted                     0
AirTime                   6402
Flights                      0
Distance                     0
CarrierDelay            225994
WeatherDelay            225994
NASDelay                225994
SecurityDelay           225994
LateAircraftDelay       225994
CancellationCode        278908
FlightNum                    0
hour                      5472
SchedDepartTime           5472
dtype: int64

In [17]:
df_sorted_by_day.fillna(0,inplace =True)
df_sorted_by_day.isna().sum()

CRSDepTime              0
DepDelayMinutes         0
Reporting_Airline       0
DepDel15                0
DepartureDelayGroups    0
Month                   0
DayofMonth              0
Origin                  0
Dest                    0
DepTime                 0
DepDelay                0
TaxiOut                 0
TaxiIn                  0
ArrTime                 0
ArrDelay                0
Cancelled               0
Diverted                0
AirTime                 0
Flights                 0
Distance                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
CancellationCode        0
FlightNum               0
hour                    0
SchedDepartTime         0
dtype: int64

In [18]:
#remove Departure Delay which will be target
final_df=df_sorted_by_day[['CRSDepTime', 'DepDelayMinutes', 'Reporting_Airline', 'DepDel15',
       'DepartureDelayGroups', 'Month', 'DayofMonth', 'Origin', 'Dest',
       'DepTime', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay',
       'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'CancellationCode', 'FlightNum', 'hour','SchedDepartTime']]
target=df_sorted_by_day[['DepDelay']]

In [19]:
# df_sorted_by_day.isna().sum()
(df_sorted_by_day[df_sorted_by_day["DepDelay"]==0]).isnull().sum()
#TaxiOut                     9
# TaxiIn                     19
# ArrTime                    19
# ArrDelay                   46
# AirTime                    46
# CarrierDelay            15507
# WeatherDelay            15507
# NASDelay                15507
# SecurityDelay           15507
# LateAircraftDelay       15507
# CancellationCode        16455
df_sorted_by_day.columns

Index(['CRSDepTime', 'DepDelayMinutes', 'Reporting_Airline', 'DepDel15',
       'DepartureDelayGroups', 'Month', 'DayofMonth', 'Origin', 'Dest',
       'DepTime', 'DepDelay', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay',
       'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'CancellationCode', 'FlightNum', 'hour',
       'SchedDepartTime'],
      dtype='object')

In [20]:
target.isna().sum() #5472

DepDelay    0
dtype: int64

In [21]:
# df_sorted_by_day[["CarrierDelay"]].fillna(0,inplace =True)
# df_sorted_by_day.isna().sum()
# (df_sorted_by_day[df_sorted_by_day["DepDelay"]==0]).isna().sum()
# df_sorted_by_day.isna().sum()

In [22]:
# final_df.isnull().sum()

In [23]:
weather_df.head()
Atlanta1.rename(columns = {'Atlanta_pressure': 'pressure','Atlanta_humidity': 'humidity', 'Atlanta_wind_direction': 'wind_direction', 'Atlanta_description': 'description'}, inplace = True)

In [24]:
Atlanta1

,Year,Month,DayofMonth,Time,hour,pressure,humidity,wind_direction,description,Origin
0,2015.0,1.0,1.0,00:00:00,0,1042.0,79.0,344.0,sky is clear,ATL
1,2015.0,1.0,1.0,01:00:00,1,1043.0,78.0,342.0,sky is clear,ATL
2,2015.0,1.0,1.0,02:00:00,2,1043.0,80.0,342.0,sky is clear,ATL
3,2015.0,1.0,1.0,03:00:00,3,1043.0,78.0,324.0,sky is clear,ATL
4,2015.0,1.0,1.0,04:00:00,4,1043.0,81.0,330.0,sky is clear,ATL
5,2015.0,1.0,1.0,05:00:00,5,1043.0,80.0,317.0,few clouds,ATL
6,2015.0,1.0,1.0,06:00:00,6,1043.0,80.0,329.0,sky is clear,ATL
7,2015.0,1.0,1.0,07:00:00,7,1042.0,79.0,308.0,few clouds,ATL
8,2015.0,1.0,1.0,08:00:00,8,1042.0,79.0,312.0,sky is clear,ATL
9,2015.0,1.0,1.0,09:00:00,9,1042.0,78.0,311.0,sky is clear,ATL
10,2015.0,1.0,1.0,10:00:00,10,1042.0,79.0,316.0,sky is clear,ATL
11,2015.0,1.0,1.0,11:00:00,11,1042.0,78.0,316.0,sky is clear,ATL
12,2015.0,1.0,1.0,12:00:00,12,1042.0,73.0,323.0,sky is clear,ATL
13,2015.0,1.0,1.0,13:00:00,13,1042.0,74.0,321.0,sky is clear,ATL
14,2015.0,1.0,1.0,14:00:00,14,1042.0,70.0,325.0,sky is clear,ATL
15,2015.0,1.0,1.0,15:00:00,15,1041.0,74.0,266.0,sky is clear,ATL
16,2015.0,1.0,1.0,16:00:00,16,1041.0,67.0,291.0,sky is clear,ATL
17,2015.0,1.0,1.0,17:00:00,17,1040.0,69.0,254.0,sky is clear,ATL
18,2015.0,1.0,1.0,18:00:00,18,1040.0,66.0,306.0,sky is clear,ATL
19,2015.0,1.0,1.0,19:00:00,19,1039.0,69.0,239.0,sky is clear,ATL
20,2015.0,1.0,1.0,20:00:00,20,1039.0,67.0,261.0,sky is clear,ATL
21,2015.0,1.0,1.0,21:00:00,21,1040.0,72.0,283.0,scattered clouds,ATL
22,2015.0,1.0,1.0,22:00:00,22,1039.0,69.0,306.0,few clouds,ATL
23,2015.0,1.0,1.0,23:00:00,23,1039.0,72.0,328.0,scattered clouds,ATL
24,2015.0,1.0,2.0,00:00:00,0,1039.0,65.0,317.0,scattered clouds,ATL
25,2015.0,1.0,2.0,01:00:00,1,1040.0,71.0,350.0,broken clouds,ATL
26,2015.0,1.0,2.0,02:00:00,2,1040.0,67.0,350.0,broken clouds,ATL
27,2015.0,1.0,2.0,03:00:00,3,1039.0,73.0,186.0,broken clouds,ATL
28,2015.0,1.0,2.0,04:00:00,4,1040.0,66.0,240.0,broken clouds,ATL
29,2015.0,1.0,2.0,05:00:00,5,1040.0,69.0,131.0,broken clouds,ATL
...,...,...,...,...,...,...,...,...,...,...
25507,NaN,NaN,NaN,19:00:00,19,1025.0,37.0,160.0,sky is clear,ATL
25508,NaN,NaN,NaN,20:00:00,20,1024.0,34.0,153.0,sky is clear,ATL
25509,NaN,NaN,NaN,21:00:00,21,1024.0,37.0,130.0,sky is clear,ATL
25510,NaN,NaN,NaN,22:00:00,22,1025.0,40.0,140.0,sky is clear,ATL
25511,NaN,NaN,NaN,23:00:00,23,1025.0,40.0,140.0,sky is clear,ATL
25512,NaN,NaN,NaN,00:00:00,0,1025.0,51.0,120.0,sky is clear,ATL
25513,NaN,NaN,NaN,01:00:00,1,1025.0,58.0,140.0,sky is clear,ATL
25514,NaN,NaN,NaN,02:00:00,2,1026.0,62.0,140.0,sky is clear,ATL
25515,NaN,NaN,NaN,03:00:00,3,1026.0,66.0,106.0,sky is clear,ATL
25516,NaN,NaN,NaN,04:00:00,4,1026.0,66.0,140.0,sky is clear,ATL
25517,NaN,NaN,NaN,05:00:00,5,1026.0,71.0,89.0,sky is clear,ATL
25518,NaN,NaN,NaN,06:00:00,6,1026.0,61.0,70.0,scattered clouds,ATL
25519,NaN,NaN,NaN,07:00:00,7,1026.0,81.0,89.0,few clouds,ATL
25520,NaN,NaN,NaN,08:00:00,8,1026.0,93.0,35.0,mist,ATL
25521,NaN,NaN,NaN,09:00:00,9,1026.0,87.0,66.0,mist,ATL
25522,NaN,NaN,NaN,10:00:00,10,1026.0,100.0,20.0,mist,ATL
25523,NaN,NaN,NaN,11:00:00,11,1026.0,93.0,56.0,fog,ATL
25524,NaN,NaN,NaN,12:00:00,12,1027.0,100.0,56.0,fog,ATL
25525,NaN,NaN,NaN,13:00:00,13,1026.0,100.0,80.0,mist,ATL
25526,NaN,NaN,NaN,14:00:00,14,1026.0,100.0,60.0,mist,ATL
25527,NaN,NaN,NaN,15:00:00,15,1027.0,100.0,88.0,mist,ATL
25528,NaN,NaN,NaN,16:00:00,16,1026.0,100.0,88.0,fog,ATL
25529,NaN,NaN,NaN,17:00:00,17,1026.0,93.0,290.0,fog,ATL
25530,NaN,NaN,NaN,18:00:00,18,1026.0,93.0,270.0,fog,ATL
25531,NaN,NaN,NaN,19:00:00,19,1025.0,93.0,210.0,mist,ATL
25532,NaN,NaN,NaN,20:00:00,20,1024.0,82.0,146.0,mist,ATL
25533,NaN,NaN,NaN,21:00:00,21,1023.0,73.0,100.0,mist,ATL
25534,NaN,NaN,NaN,22:00:00,22,1023.0,77.0,146.0,haze,ATL
25535,NaN,NaN,NaN,23:00:00,23,1023.0,82.0,126.0,broken clouds,ATL
25536,NaN,NaN,NaN,00:00:00,0,1024.0,100.0,126.0,fog,ATL

In [25]:
weather_df['hour'] = pd.to_datetime(weather_df['Time']).dt.hour
weather_df.head()

,Year,Month,Day,Time,Atlanta_pressure,Chicago_pressure,Dallas_pressure,Charlotte_pressure,Denver_pressure,Atlanta_humidity,...,Dallas_wind_speed,Charlotte_wind_speed,Denver_wind_speed,Atlanta_description,Chicago_description,Dallas_description,Charlotte_description,Denver_description,hour,DayofMonth
0,2015.0,1.0,1.0,00:00:00,1042.0,1039.0,1047.0,1042.0,1046.0,79.0,...,4.0,1.0,1.0,sky is clear,sky is clear,overcast clouds,sky is clear,sky is clear,0,1.0
1,2015.0,1.0,1.0,01:00:00,1043.0,1037.0,1047.0,1042.0,1046.0,78.0,...,4.0,1.0,1.0,sky is clear,sky is clear,broken clouds,sky is clear,sky is clear,1,1.0
2,2015.0,1.0,1.0,02:00:00,1043.0,1037.0,1046.0,1042.0,1047.0,80.0,...,3.0,1.0,1.0,sky is clear,sky is clear,overcast clouds,sky is clear,sky is clear,2,1.0
3,2015.0,1.0,1.0,03:00:00,1043.0,1037.0,1046.0,1042.0,1046.0,78.0,...,3.0,1.0,1.0,sky is clear,sky is clear,broken clouds,sky is clear,sky is clear,3,1.0
4,2015.0,1.0,1.0,04:00:00,1043.0,1037.0,1046.0,1042.0,1047.0,81.0,...,3.0,1.0,1.0,sky is clear,sky is clear,overcast clouds,sky is clear,sky is clear,4,1.0

In [26]:
# weather_df.head()
Atlanta1.columns

# Chicago1
# Denver1
# Dallas1
# # Charlotte1

Index(['Year', 'Month', 'DayofMonth', 'Time', 'hour', 'pressure', 'humidity',
       'wind_direction', 'description', 'Origin'],
      dtype='object')

In [27]:
Atlanta1.rename(columns = {'Atlanta_pressure': 'Atlanta_pressure','Atlanta_humidity': 'Atlanta_humidity', 'Atlanta_wind_direction': 'Atlanta_wind_direction', 'Atlanta_description': 'Atlanta_description'}, inplace = True)
Chicago1.rename(columns = {'Chicago_pressure': 'Chicago_pressure','Chicago_humidity': 'Chicago_humidity', 'Chicago_wind_direction': 'Chicago_wind_direction', 'Chicago_description': 'Chicago_description'}, inplace = True)
Denver1.rename(columns = {'Denver_pressure': 'Denver_pressure','Denver_humidity': 'Denver_humidity', 'Denver_wind_direction': 'Denver_wind_direction', 'Denver_description': 'Denver_description'}, inplace = True)
Dallas1.rename(columns = {'Dallas_pressure': 'Dallas_pressure','Dallas_humidity': 'Dallas_humidity', 'Dallas_wind_direction': 'Dallas_wind_direction', 'Dallas_description': 'Dallas_description'}, inplace = True)
Charlotte1.rename(columns = {'Charlotte_pressure': 'Charlotte_pressure','Charlotte_humidity': 'Charlotte_humidity', 'Charlotte_wind_direction': 'Charlotte_wind_direction', 'Charlotte_description': 'Charlotte_description'}, inplace = True)
# Atlanta1.columns
# Atlanta1
frame = [Atlanta1, Chicago1, Denver1, Dallas1, Charlotte1]
frame
Atlanta1

,Year,Month,DayofMonth,Time,hour,pressure,humidity,wind_direction,description,Origin
0,2015.0,1.0,1.0,00:00:00,0,1042.0,79.0,344.0,sky is clear,ATL
1,2015.0,1.0,1.0,01:00:00,1,1043.0,78.0,342.0,sky is clear,ATL
2,2015.0,1.0,1.0,02:00:00,2,1043.0,80.0,342.0,sky is clear,ATL
3,2015.0,1.0,1.0,03:00:00,3,1043.0,78.0,324.0,sky is clear,ATL
4,2015.0,1.0,1.0,04:00:00,4,1043.0,81.0,330.0,sky is clear,ATL
5,2015.0,1.0,1.0,05:00:00,5,1043.0,80.0,317.0,few clouds,ATL
6,2015.0,1.0,1.0,06:00:00,6,1043.0,80.0,329.0,sky is clear,ATL
7,2015.0,1.0,1.0,07:00:00,7,1042.0,79.0,308.0,few clouds,ATL
8,2015.0,1.0,1.0,08:00:00,8,1042.0,79.0,312.0,sky is clear,ATL
9,2015.0,1.0,1.0,09:00:00,9,1042.0,78.0,311.0,sky is clear,ATL
10,2015.0,1.0,1.0,10:00:00,10,1042.0,79.0,316.0,sky is clear,ATL
11,2015.0,1.0,1.0,11:00:00,11,1042.0,78.0,316.0,sky is clear,ATL
12,2015.0,1.0,1.0,12:00:00,12,1042.0,73.0,323.0,sky is clear,ATL
13,2015.0,1.0,1.0,13:00:00,13,1042.0,74.0,321.0,sky is clear,ATL
14,2015.0,1.0,1.0,14:00:00,14,1042.0,70.0,325.0,sky is clear,ATL
15,2015.0,1.0,1.0,15:00:00,15,1041.0,74.0,266.0,sky is clear,ATL
16,2015.0,1.0,1.0,16:00:00,16,1041.0,67.0,291.0,sky is clear,ATL
17,2015.0,1.0,1.0,17:00:00,17,1040.0,69.0,254.0,sky is clear,ATL
18,2015.0,1.0,1.0,18:00:00,18,1040.0,66.0,306.0,sky is clear,ATL
19,2015.0,1.0,1.0,19:00:00,19,1039.0,69.0,239.0,sky is clear,ATL
20,2015.0,1.0,1.0,20:00:00,20,1039.0,67.0,261.0,sky is clear,ATL
21,2015.0,1.0,1.0,21:00:00,21,1040.0,72.0,283.0,scattered clouds,ATL
22,2015.0,1.0,1.0,22:00:00,22,1039.0,69.0,306.0,few clouds,ATL
23,2015.0,1.0,1.0,23:00:00,23,1039.0,72.0,328.0,scattered clouds,ATL
24,2015.0,1.0,2.0,00:00:00,0,1039.0,65.0,317.0,scattered clouds,ATL
25,2015.0,1.0,2.0,01:00:00,1,1040.0,71.0,350.0,broken clouds,ATL
26,2015.0,1.0,2.0,02:00:00,2,1040.0,67.0,350.0,broken clouds,ATL
27,2015.0,1.0,2.0,03:00:00,3,1039.0,73.0,186.0,broken clouds,ATL
28,2015.0,1.0,2.0,04:00:00,4,1040.0,66.0,240.0,broken clouds,ATL
29,2015.0,1.0,2.0,05:00:00,5,1040.0,69.0,131.0,broken clouds,ATL
...,...,...,...,...,...,...,...,...,...,...
25507,NaN,NaN,NaN,19:00:00,19,1025.0,37.0,160.0,sky is clear,ATL
25508,NaN,NaN,NaN,20:00:00,20,1024.0,34.0,153.0,sky is clear,ATL
25509,NaN,NaN,NaN,21:00:00,21,1024.0,37.0,130.0,sky is clear,ATL
25510,NaN,NaN,NaN,22:00:00,22,1025.0,40.0,140.0,sky is clear,ATL
25511,NaN,NaN,NaN,23:00:00,23,1025.0,40.0,140.0,sky is clear,ATL
25512,NaN,NaN,NaN,00:00:00,0,1025.0,51.0,120.0,sky is clear,ATL
25513,NaN,NaN,NaN,01:00:00,1,1025.0,58.0,140.0,sky is clear,ATL
25514,NaN,NaN,NaN,02:00:00,2,1026.0,62.0,140.0,sky is clear,ATL
25515,NaN,NaN,NaN,03:00:00,3,1026.0,66.0,106.0,sky is clear,ATL
25516,NaN,NaN,NaN,04:00:00,4,1026.0,66.0,140.0,sky is clear,ATL
25517,NaN,NaN,NaN,05:00:00,5,1026.0,71.0,89.0,sky is clear,ATL
25518,NaN,NaN,NaN,06:00:00,6,1026.0,61.0,70.0,scattered clouds,ATL
25519,NaN,NaN,NaN,07:00:00,7,1026.0,81.0,89.0,few clouds,ATL
25520,NaN,NaN,NaN,08:00:00,8,1026.0,93.0,35.0,mist,ATL
25521,NaN,NaN,NaN,09:00:00,9,1026.0,87.0,66.0,mist,ATL
25522,NaN,NaN,NaN,10:00:00,10,1026.0,100.0,20.0,mist,ATL
25523,NaN,NaN,NaN,11:00:00,11,1026.0,93.0,56.0,fog,ATL
25524,NaN,NaN,NaN,12:00:00,12,1027.0,100.0,56.0,fog,ATL
25525,NaN,NaN,NaN,13:00:00,13,1026.0,100.0,80.0,mist,ATL
25526,NaN,NaN,NaN,14:00:00,14,1026.0,100.0,60.0,mist,ATL
25527,NaN,NaN,NaN,15:00:00,15,1027.0,100.0,88.0,mist,ATL
25528,NaN,NaN,NaN,16:00:00,16,1026.0,100.0,88.0,fog,ATL
25529,NaN,NaN,NaN,17:00:00,17,1026.0,93.0,290.0,fog,ATL
25530,NaN,NaN,NaN,18:00:00,18,1026.0,93.0,270.0,fog,ATL
25531,NaN,NaN,NaN,19:00:00,19,1025.0,93.0,210.0,mist,ATL
25532,NaN,NaN,NaN,20:00:00,20,1024.0,82.0,146.0,mist,ATL
25533,NaN,NaN,NaN,21:00:00,21,1023.0,73.0,100.0,mist,ATL
25534,NaN,NaN,NaN,22:00:00,22,1023.0,77.0,146.0,haze,ATL
25535,NaN,NaN,NaN,23:00:00,23,1023.0,82.0,126.0,broken clouds,ATL
25536,NaN,NaN,NaN,00:00:00,0,1024.0,100.0,126.0,fog,ATL

In [28]:
import sys
Atlanta1['airport'] = 'ATL'
Chicago1['airport'] = 'ORD'
Denver1['airport'] = 'DEN'
Charlotte1['airport'] = 'CLT'

frame = [Atlanta1, Chicago1, Denver1, Dallas1, Charlotte1]
frame
merged_weather = pd.concat(frame, axis = 0)
merged_weather
merged_weather.rename(columns = {'airport': 'Origin'}, inplace = True)
merged_weather

/Users/powersky/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

,Charlotte_description,Charlotte_humidity,Charlotte_pressure,Charlotte_wind_direction,Chicago_description,Chicago_humidity,Chicago_pressure,Chicago_wind_direction,Dallas_description,Dallas_humidity,...,Month,Origin,Time,Year,Origin,description,hour,humidity,pressure,wind_direction
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,00:00:00,2015.0,ATL,sky is clear,0,79.0,1042.0,344.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,01:00:00,2015.0,ATL,sky is clear,1,78.0,1043.0,342.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,02:00:00,2015.0,ATL,sky is clear,2,80.0,1043.0,342.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,03:00:00,2015.0,ATL,sky is clear,3,78.0,1043.0,324.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,04:00:00,2015.0,ATL,sky is clear,4,81.0,1043.0,330.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,05:00:00,2015.0,ATL,few clouds,5,80.0,1043.0,317.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,06:00:00,2015.0,ATL,sky is clear,6,80.0,1043.0,329.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,07:00:00,2015.0,ATL,few clouds,7,79.0,1042.0,308.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,08:00:00,2015.0,ATL,sky is clear,8,79.0,1042.0,312.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,09:00:00,2015.0,ATL,sky is clear,9,78.0,1042.0,311.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,10:00:00,2015.0,ATL,sky is clear,10,79.0,1042.0,316.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,11:00:00,2015.0,ATL,sky is clear,11,78.0,1042.0,316.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,12:00:00,2015.0,ATL,sky is clear,12,73.0,1042.0,323.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,13:00:00,2015.0,ATL,sky is clear,13,74.0,1042.0,321.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,14:00:00,2015.0,ATL,sky is clear,14,70.0,1042.0,325.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,15:00:00,2015.0,ATL,sky is clear,15,74.0,1041.0,266.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,16:00:00,2015.0,ATL,sky is clear,16,67.0,1041.0,291.0
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,17:00:00,2015.0,ATL,sky is clear,17,69.0,1040.0,254.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,18:00:00,2015.0,ATL,sky is clear,18,66.0,1040.0,306.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,19:00:00,2015.0,ATL,sky is clear,19,69.0,1039.0,239.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,20:00:00,2015.0,ATL,sky is clear,20,67.0,1039.0,261.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,21:00:00,2015.0,ATL,scattered clouds,21,72.0,1040.0,283.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,22:00:00,2015.0,ATL,few clouds,22,69.0,1039.0,306.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,23:00:00,2015.0,ATL,scattered clouds,23,72.0,1039.0,328.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,00:00:00,2015.0,ATL,scattered clouds,0,65.0,1039.0,317.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,01:00:00,2015.0,ATL,broken clouds,1,71.0,1040.0,350.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,02:00:00,2015.0,ATL,broken clouds,2,67.0,1040.0,350.0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,03:00:00,2015.0,ATL,broken clouds,3,73.0,1039.0,186.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,04:00:00,2015.0,ATL,broken clouds,4,66.0,1040.0,240.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,ATL,05:00:00,2015.0,ATL,broken clouds,5,69.0,1040.0,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25507,sky is clear,20.0,1027.0,170.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,19:00:00,NaN,CLT,NaN,19,NaN,NaN,NaN
25508,few clouds,20.0,1026.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,20:00:00,NaN,CLT,NaN,20,NaN,NaN,NaN
25509,few clouds,23.0,1026.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,21:00:00,NaN,CLT,NaN,21,NaN,NaN,NaN
25510,few clouds,26.0,1026.0,250.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,22:00:00,NaN,CLT,NaN,22,NaN,NaN,NaN
25511,few clouds,26.0,1026.0,250.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,23:00:00,NaN,CLT,NaN,23,NaN,NaN,NaN
25512,broken clouds,35.0,1027.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,00:00:00,NaN,CLT,NaN,0,NaN,NaN,NaN
25513,broken clouds,40.0,1027.0,183.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,01:00:00,NaN,CLT,NaN,1,NaN,NaN,NaN
25514,broken clouds,62.0,1027.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,02:00:00,NaN,CLT,NaN,2,NaN,NaN,NaN
25515,broken clouds,61.0,1027.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,03:00:00,NaN,CLT,NaN,3,NaN,NaN,NaN
25516,overcast clouds,50.0,1027.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,04:00:00,NaN,CLT,NaN,4,NaN,NaN,NaN
25517,broken clouds,50.0,1027.0,210.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,05:00:00,NaN,CLT,NaN,5,NaN,NaN,NaN
25518,overcast clouds,50.0,1026.0,260.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,06:00:00,NaN,CLT,NaN,6,NaN,NaN,NaN
25519,overcast clouds,54.0,1026.0,190.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,07:00:00,NaN,CLT,NaN,7,NaN,NaN,NaN
25520,broken clouds,46.0,1026.0,236.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,08:00:00,NaN,CLT,NaN,8,NaN,NaN,NaN
25521,few clouds,57.0,1026.0,226.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,09:00:00,NaN,CLT,NaN,9,NaN,NaN,NaN
25522,sky is clear,70.0,1026.0,226.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,10:00:00,NaN,CLT,NaN,10,NaN,NaN,NaN
25523,sky is clear,75.0,1026.0,230.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,11:00:00,NaN,CLT,NaN,11,NaN,NaN,NaN
25524,few clouds,81.0,1026.0,310.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,12:00:00,NaN,CLT,NaN,12,NaN,NaN,NaN
25525,few clouds,75.0,1026.0,270.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,13:00:00,NaN,CLT,NaN,13,NaN,NaN,NaN
25526,haze,50.0,1027.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,14:00:00,NaN,CLT,NaN,14,NaN,NaN,NaN
25527,sky is clear,51.0,1026.0,280.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,15:00:00,NaN,CLT,NaN,15,NaN,NaN,NaN
25528,few clouds,48.0,1026.0,311.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,16:00:00,NaN,CLT,NaN,16,NaN,NaN,NaN
25529,few clouds,34.0,1025.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,17:00:00,NaN,CLT,NaN,17,NaN,NaN,NaN
25530,few clouds,28.0,1024.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,18:00:00,NaN,CLT,NaN,18,NaN,NaN,NaN
25531,sky is clear,21.0,1024.0,250.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,19:00:00,NaN,CLT,NaN,19,NaN,NaN,NaN
25532,few clouds,21.0,1023.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,20:00:00,NaN,CLT,NaN,20,NaN,NaN,NaN
25533,few clouds,21.0,1023.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,21:00:00,NaN,CLT,NaN,21,NaN,NaN,NaN
25534,few clouds,24.0,1023.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,22:00:00,NaN,CLT,NaN,22,NaN,NaN,NaN
25535,few clouds,38.0,1023.0,169.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,23:00:00,NaN,CLT,NaN,23,NaN,NaN,NaN
25536,haze,41.0,1024.0,169.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CTL,00:00:00,NaN,CLT,NaN,0,NaN,NaN,NaN

In [29]:
frame = [Atlanta1, Chicago1, Denver1, Dallas1, Charlotte1]
# merged_weather = pd.concat(frame, axis = 0)
# type(Atlanta1)
# Dallas1

In [30]:
merged_weather = pd.concat(frame, axis = 0)
merged_weather.columns
merged_weather
df_sorted_by_day.columns

/Users/powersky/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

Index(['CRSDepTime', 'DepDelayMinutes', 'Reporting_Airline', 'DepDel15',
       'DepartureDelayGroups', 'Month', 'DayofMonth', 'Origin', 'Dest',
       'DepTime', 'DepDelay', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay',
       'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'CancellationCode', 'FlightNum', 'hour',
       'SchedDepartTime'],
      dtype='object')

In [31]:

merged_flight_weather_df_total = pd.merge(df_sorted_by_day, merged_weather, on = ['Month', 'DayofMonth', 'Origin', 'hour'])
merged_flight_weather_df_total.columns

Index(['CRSDepTime', 'DepDelayMinutes', 'Reporting_Airline', 'DepDel15',
       'DepartureDelayGroups', 'Month', 'DayofMonth', 'Origin', 'Dest',
       'DepTime', 'DepDelay', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay',
       'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay', 'CancellationCode', 'FlightNum', 'hour',
       'SchedDepartTime', 'Charlotte_description', 'Charlotte_humidity',
       'Charlotte_pressure', 'Charlotte_wind_direction', 'Chicago_description',
       'Chicago_humidity', 'Chicago_pressure', 'Chicago_wind_direction',
       'Dallas_description', 'Dallas_humidity', 'Dallas_pressure',
       'Dallas_wind_direction', 'Denver_description', 'Denver_humidity',
       'Denver_pressure', 'Denver_wind_direction', 'Time', 'Year', 'airport',
       'description', 'humidity', 'pressure', 'wind_direction'],
      dtype='object')

In [32]:
len(merged_flight_weather_df_total[merged_flight_weather_df_total["Origin"]=="DFW"])
# merged_flightweather_df = pd.merge(df_sorted_by_day, Atlanta1, on = ['Month', 'DayofMonth', 'Origin', 'hour'])
# merged_flightweather_df.head()
len(merged_flight_weather_df_total)
len(df_sorted_by_day)

284645

In [33]:
merged_flightweather_df2 = pd.merge(merged_flightweather_df, Chicago1, on = ['Month', 'DayofMonth', 'Origin', 'hour'])
# merged_flightweather_df2 = pd.merge(merged_flightweather_df, Chicago1, on = ['Month', 'DayofMonth', 'Origin', 'hour'])
merged_flightweather_df2.head()

NameError: name 'merged_flightweather_df' is not defined

In [ ]:
# merged_flightweather_df2 = pd.merge(merged_flightweather_df, Chicago1, on = ['Month', 'DayofMonth', 'Origin', 'hour'])
print(len(df_sorted_by_day))
print(len(merged_flightweather_df))

In [ ]:
# Atlanta1
Chicago1
Denver1
Dallas1
Charlotte1

In [ ]:
merged_flightweather_df.to_csv('merged_flightweather_df.csv')

In [ ]:
TO DO 



# #Get rid of all nan values
# final_df.dropna(axis = 0, inplace = True)
# final_df['hour'] = final_df['DepTime'] // 100
# final_df.drop(columns = 'Flights', inplace = True)

# final_df.isnull().sum()


#change weather datetime 
#dfw_weather['hours'] = pd.to_datetime(dfw_weather['datetime']).dt.hour 

#merge data on on = ['Month', 'DayofMonth', 'Origin', 'hour'])

# weather_df.columns
# frame=[Atlanta1, Chicago1, Denver1, Dallas1, Charlotte1]
# frame
Atlanta1
Chicago1
Denver1
Dallas1
Charlotte1.columns #"'Year', 'Month', 'Day', 'Time', 'hour', 'Charlotte_pressure',
#        'Charlotte_humidity', 'Charlotte_wind_direction',
#        'Charlotte_description', 'Origin']"
df_sorted_by_day.columns #'CRSDepTime', 'DepDelayMinutes', 'Reporting_Airline', 'DepDel15',
#        'DepartureDelayGroups', 'Month', 'DayofMonth', 'Origin', 'Dest',
#        'DepTime', 'DepDelay', 'TaxiOut', 'TaxiIn', 'ArrTime', 'ArrDelay',
#        'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance',
#        'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
#        'LateAircraftDelay', 'CancellationCode', 'FlightNum', 'hour',
#        'SchedDepartTime'

In [ ]:
#Clean data
# subset_df["DepDelayMinutes"].fillna(0.0)
# subset_df["DepTime"].isna()
# subset_df["DepTime"]
len(subset_df[subset_df["DepDelay"]==0])
len(subset_df[subset_df["DepDelay"].isnull()])/(len(subset_df)) #2%
16468/(len(subset_df)) 
subset_df["DepDelay"].isnull().sum()

In [ ]:
#target= delayed or not , or cancelled 

#NAN to 0 and drop other DROP DROP 
# subset_df=subset_df["DepDelay"].isnull()
# subset_df.dropna(subset=[subset_df.DepDelay])

# subset_df.isna().sum()
# subset_df["DepTime"].isna().sum()
# subset_df.isna().sum()
subset_df["DepDelay"].isnull().sum()
# TO DO 
#Drop wheelsoff and wheelson columns as this amounts to the same thing as the Airtime Column
    #deleted

# merged_df.drop(columns = 'DivAirportLandings', inplace = True)

In [ ]:
subset_df["DepDelay"].isnull().sum()
df = subset_df
df=df.dropna(subset=['DepDelay'], how='all', inplace = True)
df

In [ ]:
# subset_df[subset_df['DepDelay'].notnull()].sum()

In [ ]:
subset_df[subset_df['Cancelled']==0].isna().sum()

In [ ]:
# 5472/284645
# #drop null values 
# subset_df 
# CRSDepTime                   0
# DepTime                   5472
# DepDelay                  5472
# DepDelayMinutes           5472
# DepDel15                  5472
# DepartureDelayGroups      5472

# DepTime                 5472 
# DepDelay                5472
# TaxiOut                 5641
# WheelsOff               5641
# WheelsOn                5941
# TaxiIn                  5941
# ArrTime                 5941
# ArrDelay                6402 set 0
# Cancelled                  0
# Diverted                   0
# AirTime                 6402 drop
# Flights                    0
# Distance                   0
# CarrierDelay          225994 set 0
# WeatherDelay          225994 set 0
# NASDelay              225994 set 0
# SecurityDelay         225994 set 0
# LateAircraftDelay     225994 set 0

In [ ]:
# #old

# Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
# #        'Reporting_Airline', 'DOT_ID_Reporting_Airline',
# #        'IATA_CODE_Reporting_Airline', 'Tail_Number',Flight_Number_Reporting_Airline', 'OriginAirportID',
# #        'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
# #        'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac'
# # DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
# #        'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
# #        'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
# #        'DepDel15', 'DepartureDelayGroups'
# # 'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn',
# #        'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes', 'ArrDel15',
# #        'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode',
# #        'Diverted'
# # CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Flights', 'Distance',
# #        'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
# #        'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'TotalAddGTime',
# #        'LongestAddGTime', 'DivAirportLandings', 'DivReachedDest',
# #        'DivActualElapsedTime', 'DivArrDelay', 'DivDistance', 'Div1Airport',
# #        'Div1AirportID', 'Div1AirportSeqID', 'Div1WheelsOn', 'Div1TotalGTime',
# #        'Div1LongestGTime'


# # 
# # 
# # 
# # carl[0:10]
# # carl[['ArrTime', 'ArrDelay', 'ArrDelayMinutes']]
# # carl[["FlightDate",'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
# #        'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
# #        'DepDel15',
# # 'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn',
# #        'CRSArrTime', 'ArrTime', 'ArrDelay']]

# # df=pd.read_csv("FlightData/On_time2018.csv")
# # df.head()
# # len(df)
# # # print(df["FlightDate"]="2018-01-11")
# # # date123=df["FlightDate"]=="2018-01-11"
# # # df[''].value_counts()
# # df.groupby(by="FlightDate")
# # # df.iloc[FlightDate="2018-01-11"]
# # # len(df.filter(regex='\2018-01-11'))
# # df["FlightDate"].count()
# # starte
# # df9.columns()
# # df9[["ArrTime"]]
# carl=df9[0:10]
# # df9.columns[10:25]
# # df9["Origin"].value_counts()[0:10]


# # data=["On_time2015_00.csv","On_time2015_01.csv","On_time2015_02.csv","On_time2015_03.csv","On_time2015_04.csv",'On_time2016_00.csv','On_time2016_01.csv','On_time2016_02.csv','On_time2016_03.csv','On_time2016_04.csv','On_time2017_00.csv','On_time2017_01.csv','On_time2017_02.csv','On_time2017_03.csv','On_time2017_04.csv']
# # data

# filesold = ["FlightData/On_time2018.csv","FlightData/On_Time2017.csv","FlightData/On_Time2016.csv","FlightData/On_Time2015.csv"]
# # col_names=['Month', 'DayofMonth', 'DayOfWeek','Origin', 'Dest', 'UniqueCarrier', 'FlightNum', 'Origin', 'Dest', 'DepTime', 'DepDelay', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'ArrTime', 'ArrDelay', 'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'DivAirportLandings']
# # col_names = ['Month', 'DayofMonth', 'DayOfWeek', 'UniqueCarrier', 'FlightNum', 'Origin', 'Dest', 'DepTime', 'DepDelay', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'ArrTime', 'ArrDelay', 'Cancelled', 'Diverted', 'AirTime', 'Flights', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'DivAirportLandings']
# # file_total=[]